<app-home></app-home>

<h3 class="mt-5 mb-3">Reservation List</h3>
<table class="table table-striped" *ngIf="reservations.length; else noReservation">
    <thead>
        <tr>
            <th>Guest</th>
            <th>Email</th>
            <th>Room</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reservations">
            <td>{{r.guestName}}</td>
            <td>{{r.guestEmail}}</td>
            <td>{{r.roomNumber}}</td>
            <td>{{r.checkInDate}}</td>
            <td>{{r.checkOutDate}}</td>
            <td>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', r.id]">Edit</button>
                <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(r.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noReservation>
    <p>No reservation Available</p>
</ng-template>